{{template "layouts/head.html"}}
<body >

<!-- main / large navbar -->
<nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar " role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">{{.appname}}</a>
            </div>
            <div class="collapse navbar-collapse main-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/picset">Gallery</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown">Resource <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header">微信：mayun8856</li>
                        <li><a href="#">提交资源</a></li>
                        <li><a href="#">获取资源</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#">建议</a></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href="#">Settings <i class="glyphicon glyphicon-cog"></i></a>
                    </li>
                    <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-hover="dropdown"> <i class="glyphicon glyphicon-user"></i>##{.User.UserName}##<i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container -->
</nav>
<div class="container">
    <div class="clo-md-10">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">您的位置：</div>
                    <a href="/picset">图集首页</a>/{{if ne .fullParentName "."}}<a href="{{.parentLink}}">{{.fullParentName}}</a>/{{end}}{{if ne .curDirName "."}}{{.curDirName}}{{end}}
                </div>
                <div class="bootstrap-admin-panel-content span3 arch-warp">
                    <div class="row">
                        {{range $k, $aname := .thedirnames}}
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail" style="height: 300px">
                                <a href="{{$aname.Url}}">
                                    <img src="{{$aname.Thumb}}" alt="封面图">
                                </a>
                                <div class="caption">
                                    <p style="text-align:center;">{{$aname.Name}}</p>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{template "layouts/paginator.html" .}}

</div>


<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/twitter-bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-admin-theme-change-size.js"></script>
</body>
</html>
